@model int


<div class="container row pt-4">
    <div class="col-12 text-center">
        <h1 class="text-primary text-bg-warning text-center">Oreder Placed Successfully<br /><br /> Your Order Number is : @Model <br /><br /></h1>
      
        <img src="~/image/ord2.jpg" width="80%" />
    </div>
   
</div>
