     @model IEnumerable<MusicShop.Models.Category>








    <div class="row pb-3">
    <section class="video-content">
        <div class="video-story">
            <div class='embed-container'>
                <video id="video" autoplay loop muted>
                    <source src="~/image/video.mp4" type="video/mp4" />
                    Your browser does not support the video tag.
                </video>
            </div>
        </div>
    </section>


        @foreach (var item in Model)
        {

            <div class="col-lg-3 col-sm-6">

                <div class="row p-2">

                    <div class="col-12 p-1">

                        <div class="card border-0 p-3 shadow border-top border-5 rounded">


                        <img src="@item.ImageUrl" class="card-img-top rounded " alt="@item.ImageUrl" />

                            <div class="card-body pb-0">

                                <div class="pl-1">

                                    <p class="card-title text-warning  opacity-75 text-uppercase text-center">@item.Name</p>

                                </div>

                            </div>

                            <div>

                                <a href="@Url.Action("Instruments", new { categoryId = item.Id })" class="btn btn-primary bg-gradient border-0 form-control">Go To Instruments</a>


                            </div>
                        </div>

                    </div>

                </div>


            </div>



        }


    </div>

